html{
  		/*无衬线字体*/
  		font-family: sans-serif;
  	}
  	*{
  		/*box-sizing模型*/
  		box-sizing: border-box;
  	}
  	body{
  		/*去掉默认外边距*/
  		margin: 0;
  	}
  	/*对内容设置具体的高度和宽度，在屏幕居中使用margin：0 auto*/
  	.info-box{
  		width: 450px;
  		height: 400;
  		position: fixed;
  		top: 0;
  	}
  	.info-box ul{
  		padding-left: 0;
  		margin-top: 0;
  	}
  	.info-box li{
  		list-style-type: none;
		float: left;
		width: 150px;
  	}
  	.info-box li a{
  		display: inline-block;
  		text-decoration: none;
  		width: 100%;
  		line-height: 3;
  		background-color: red;
  		color: black;
  		text-align: center;
  	}
  	.info-box li a:focus,.info-box li a:hover{
  		background-color: #a60000;
  		color: white;
  	}
  	.info-box li a:active{
  		ackground-color: #a60000;
  		color: white;
  	}
  	.info-box .panels{
  		height: 352px;
  		position: relative;
  		clear: both;
  	}
  	.info-box article{
  		position: absolute;
  		top: 0;
  		left: 0;
  		height: 352px;
  		padding: 10px;
  		color: white;
  		background-color: #A60000;
  	}
  	.info-box .active-panel{
  		z-index: 1;
  	}
  	.fake-content{
  		background-color: #A60000;
  		color: white;
  		padding: 10px;
  		height: 2000px;
  		margin-left: 470px;
  	}