
*{
	margin: 0;
	padding: 0;
	line-height: 40px;
	font-family: "微软雅黑";
	text-decoration: none;
}

h1{
	font-size: 32px;
	margin-top: 50px;
	margin-left: 30px;
	line-height: 80px;
}
h3{
	font-size: 26px;
	margin-left: 0px;
	clear: both;
	text-align: center;
	line-height: 160px;
	background-color: gainsboro;
}
body{
	width: 1300px;
	height: 1000px;
}
.div0{
	margin-left: 20px;
	background-color: grey;
	color: white;
	width: 1300px;
	height: 80px;
	display: block;
	
}
.div{
	width: 1299px;
	height: 800px;
	float: left;
	margin-left: 20px;
	border-right: solid 1px grey;
}
.div1{
}
.div2{
	clear: both;
	margin-top: 5px;
	width: 1300px;
	height: 160px;
	border-bottom: solid 1px grey;
	border-top: solid 1px grey;
}
.div3{
	clear: both;
}
.div4{
	width: 1300px;
	height: 160px;
	border-bottom: solid 1px grey;
	border-top: solid 1px grey;
	
}
.div5{
	width: 1300px;
	height: 160px;
	border-bottom: solid 1px grey;
}
.p1{
	float: left;
	
}
.p2{
	float: left;
	margin-left: 10%;
}
.p3{
	float: left;
	margin-left: 10%;
}
.h3{
	float: left;
	width: 160px;
	height: 160px;
}
